$border-color: #f3f8ff;
$sec_bg-color: #deecff;
$bg_color: #f3f8ff;
$font-color:#1c819e;
.sharePic {
  color:$font-color;
  height: 100%;
  width: 100%;
  background: $bg_color;
  section {
    position: absolute;
    top: 1rem;
    bottom: 0;
    width: 100%;
    .photo-domain {
      margin-top: 0.3rem;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      min-height: 2rem;
      height: auto;
      background: $sec_bg-color;
      li {
        position: relative;
      }
    }
    .title-brief {
  color:$font-color;

      margin-top: 0.3rem;
      border-top: 1px solid $border-color;
      background: $sec_bg-color;
      li {
        font-size: 16px;
        min-height: 0.8rem;
        height: auto;
        line-height: 0.8rem;
        border-bottom: 1px solid $border-color;
        span {
          float: left;
          display: inline-block;
          width: 2rem;
          text-align: center;
        }
        input {
          width: 5rem;
          padding: 0 0.2rem;
          background: $sec_bg-color;
        }
        input::-webkit-input-placeholder{
            color:$font-color;
        }
        textarea {
          width: 5rem;
          height: 4rem;
          padding: .2rem 0.2rem;
          background: $sec_bg-color;
        }
         textarea::-webkit-input-placeholder{
            color:$font-color;
        }
      }
    }
    .classify {
      
      margin-top: 0.3rem;
      border-top: 1px solid $border-color;
      background: $sec_bg-color;
      dt,
      dd {
        font-size: 16px;
        min-height: 0.8rem;
        height: auto;
        line-height: 0.8rem;
        border-bottom: 1px solid $border-color;
        span {
          display: inline-block;
          width: 2rem;
          text-align: center;
        }
        ul {
          li {
            border-radius: .1rem;
            margin: 0.15rem 0.32rem;
            display: inline-block;
            width: 1.2rem;
            height: 0.6rem;
            line-height: 0.6rem;
            text-align: center;
            border: 1px solid $border-color;
            background: #f2efb6;
          }
        }
      }
      dd {
        background: $bg_color;
        border: none;
      }
    }
  }
}
