.item_page {
  position: relative;
  height: 100%;
  width: 100%;
  .inputbox{
      height: 1rem;
      width: 100%;
    //   background: lightblue;
     display: flex;
     justify-content: center;
     align-items: center;
     input{
         width: 90%;
         height: .8rem;
         border-radius: .4rem;
         padding: 0 .2rem;
     }
  }
  .tabs_content {
    width: 100%;
    position: absolute;
    top: 1rem;
    background: pink;
    bottom: 0;
  }
  .am-card {
    padding: 0;
    min-height: 1rem;
    width: 100%;
    span {
      float: right;
      color: #4182b9;
      display: block;
      width: 1.2rem;
      height: 0.6rem;
      line-height: 0.6rem;
      border-radius: 0.1rem;
      text-align: center;
      border: 1px solid #4182b9;
    }
    span.followed{
    color: #666;
    border: 1px solid #666;
    background: #ccc;
}
.am-card-header{
    padding: 6px 10px;
    color: #666;
}
    .am-card-header-content img {
      border-radius: 0.32rem;
      width: 0.64rem;
      overflow: hidden;
    }
    .am-card-body{
        width: 100%;
        height: 4rem;
        overflow: hidden;
        padding: 0;
    }
    .am-card-body img{
        width: 100%;
        height: 4rem;
    }
    .am-card-footer{
        height: .8rem;
        .am-card-footer-content{
            line-height: .8rem;
            font-size: 16px;
            color: black;
        }
    }
  }
}

// .body {
//     position: absolute;
//     top: 1.3rem;
//     bottom: 1.3rem;
//     width: 100%;
//     overflow: hidden;
// }
