$Myinfo_bg_color: #f3f8ff;
$Myinfo_session_bg_color: #deecff;
$Myinfo_bd_color: #c6cfff;
.Info {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
  section {
    background-color: $Myinfo_bg_color;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .userInfo {
      margin: 0.1rem 0;
      background-color: $Myinfo_session_bg_color;
      padding: 0.1rem 0;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 1.5rem;
      padding: 0.5rem;
      color: #505050;
      display: flex;
      position: relative;
      i {
        color: #fff;
        font-size: 0.6rem;
        line-height: 1.2rem;
        padding-left: 0.3rem;
      }
      span {
        height: 1.2rem;
        width: 30%;
        display: inline-block;
      }
      span.exit {
        position: absolute;
        right: 0;
        line-height: 1.2rem;
      }
      .log_img {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 1.2rem;
        background: #666;
        overflow: hidden;
        flex-shrink: 1;
        img {
          height: 1.2rem;
          width: 1.2rem;
          display: block;
        }
      }
      .log_menu {
        padding-left: 0.3rem;
        line-height: 1.2rem;
      }
    }
    ul.main-info {
      margin: 0.1rem 0;
      background: $Myinfo_session_bg_color;
      width: 100%;
      li {
        float: left;
        width: 33.3%;
        height: 1.5rem;
        line-height: .6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #ccc;
      }
      li:last-child {
        border-right: none;
      }
    }
    ul.options {
      flex: 1;
      margin: 0.1rem 0;
      background: $Myinfo_session_bg_color;
      height: auto;
      width: 100%;
      li {
        border-bottom: 1px solid $Myinfo_bd_color;
        height: 1.3rem;
        line-height: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-right: 1px solid #ccc;
        padding: 0.2rem;
      }
      li:last-child {
        border-right: none;
      }
    }
  }
}
