.Info{
    width: 100%;
    position: relative;
    height: 100%;
}
.userInfo {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 1.5rem;
    padding: 0.5rem;
    color: #505050;
    display: flex;
    position: relative;
}

.userInfo i {
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.2rem;
    padding-left: 0.3rem;
}

.userInfo span {
    height: 1.2rem;
    width: 30%;
    display: inline-block;
}
.userInfo span.exit{
    position: absolute;
    right: 0;
    line-height: 1.2rem;
}
.userInfo .log_img {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    background: #666;
    overflow: hidden;
    flex-shrink: 1;
}
.userInfo .log_img img{
    height: 1.2rem;
    width: 1.2rem;
    display: block;
    /* overflow: hidden; */
}
.userInfo .log_menu {
    padding-left: 0.3rem;
    line-height: 1.2rem;
}